<h2><%= @project %></h2>
<table class="list issues odd-even sort-by-id sort-desc">
  <th>題名</th>
  <th>説明</th>
  <th>開始日</th>
  <th>期日</th>
  <th>進捗率</th>
  <th>予定工数</th>
  <th>作業時間</th>
<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.subject %></td>
    <td><%= issue.description %></td>
    <td><%= issue.start_date %></td>
    <td><%= issue.due_date %></td>
    <td><%= issue.done_ratio %></td>
    <td><%= issue.estimated_hours %></td>
    <td><%= issue.time_entries.sum(:hours).to_f %></td>
  </tr>
<% end %> 
</table>